@model IEnumerable<AlgebraSeminar.ViewModel.UnosViewModel>

@{
    ViewData["Title"] = "Index";

}


<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */

    </style>



</head>
<body>

    <div class="menu" style="background-color:Black;">
        <div class="wrapper">

            <style>
                .button {
                    display: inline-block;
                    padding: 10px 10px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    border-radius: 1px;
                    outline: none;
                }

                    .button:hover {
                        background-color: white
                    }

                    .button:active {
                        display: inline-block;
                        padding: 10px 10px;
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        border-radius: 6px;
                    }
            </style>

            <a class="button" style="text-decoration:none" href="\Predbiljezbas\Predbiljezba">Predbiljezba </a>
            <a class="button" style="text-decoration:none" href="\Seminars\Seminari">Seminari </a>
            <a class="button" style="text-decoration:none" href="\Predbiljezbas\Predbiljezbe">Predbiljezbe</a>

        </div>
    </div>
    <br />
    <p>
        @using (Html.BeginForm("Seminari", "Seminars", FormMethod.Get))
        {
            <b>Pretraži naziv:</b>
            @Html.TextBox("pretrazi") <input type="submit" value="Pretrazi" />
        }

    </p>
    <div class="form-group">
        <a class="button" style="text-decoration:none; background-color:dodgerblue; color:white; border-radius: 10px" href="\Seminars\Create">Novi tecaj</a>
    </div>
    <style>
        table, th, td {
            border: 1px solid gray;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <table style="width:100%">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.seminarVm.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seminarVm.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seminarVm.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seminarVm.Popunjen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.predbiljezbaVm.Brojpolaznika)
            </th>
        </tr>


        @foreach (var item in Model)
        {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.seminarVm.IdSeminar">Uredi</a> |
            <a asp-action="Delete" asp-route-id="@item.seminarVm.IdSeminar">Obrisi</a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seminarVm.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seminarVm.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seminarVm.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seminarVm.Popunjen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.predbiljezbaVm.Brojpolaznika)
        </td>

    </tr>
        }

    </table>
</body>
